*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
  font-weight: 400;
  line-height: 1.6; }

.logo {
  width: 6.9rem;
  height: auto; }
  .logo--white {
    width: 9rem; }

.navigation__list {
  list-style: none;
  display: flex;
  gap: 1.1rem;
  font-size: 0.9rem; }
  @media screen and (min-width: 30em) {
    .navigation__list {
      gap: 2.5rem;
      padding: 0 1.3rem; } }

.navigation__item a {
  text-decoration: none;
  color: #070439; }

.container {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  gap: 1rem;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 30em) {
    .container {
      flex-direction: row-reverse;
      padding: 5.5rem;
      gap: 3rem;
      align-items: center;
      text-align: start;
      font-size: 1.5rem; }
      .container--2 {
        flex-direction: row;
        font-size: 1.2rem;
        gap: 7.3rem; } }
  .container__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto; }
    @media screen and (min-width: 30em) {
      .container__bg {
        width: 100%;
        transform: translateX(0); } }
  .container__image {
    margin-bottom: 1rem; }
    @media screen and (min-width: 30em) {
      .container__image {
        width: 45%; } }
  .container__description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    @media screen and (min-width: 30em) {
      .container__description {
        padding: 2rem; } }
  .container__paragraph {
    font-size: 0.9rem;
    padding: 0 0.7rem; }
    @media screen and (min-width: 30em) {
      .container__paragraph {
        font-size: 1.1rem;
        padding: 0; } }
  .container__heading {
    font-family: "Raleway", sans-serif; }

.form {
  display: flex;
  flex-direction: column;
  padding: 0 0.9rem;
  gap: 1rem; }
  @media screen and (min-width: 30em) {
    .form {
      flex-direction: row;
      padding: 0;
      width: 100%; }
      .form--2 {
        flex-direction: column; } }
  .form__input {
    padding: 0.7rem 0.7rem; }
    @media screen and (min-width: 30em) {
      .form__input {
        width: 80%; } }
    .form__input::placeholder {
      color: #bfbfbf; }
  .form__button {
    padding: 0.7rem 0.7rem;
    color: white;
    background-color: #3065f8;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.1s; }
    .form__button:hover {
      filter: grayscale(15%); }
    @media screen and (min-width: 30em) {
      .form__button {
        width: 35%; } }

.link, .link:link, .link:visited {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  margin: 1.3rem 0;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  width: max-content;
  cursor: pointer;
  transition: all 0.1s; }
  @media screen and (min-width: 30em) {
    .link, .link:link, .link:visited {
      align-self: flex-start;
      margin: 0 0 1.3rem; } }
  .link__icon, .link:link__icon, .link:visited__icon {
    width: 1.3rem;
    height: 1.3rem; }

.link:hover {
  filter: brightness(140%); }

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  text-align: start;
  gap: 1rem;
  font-size: 0.78rem;
  background-color: white;
  padding: 2.3rem 2rem;
  width: 90%;
  margin-bottom: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
  @media screen and (min-width: 30em) {
    .review {
      align-self: flex-start;
      width: 55%; } }
  .review__text::before {
    content: url("/images/icon-quotes.svg");
    position: absolute;
    top: 1rem; }
  .review__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem; }
    .review__user-name {
      font-weight: bold;
      font-size: 1rem; }
  .review__photo {
    width: 3rem;
    height: 3rem;
    border-radius: 100%; }

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .contact__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
  .contact__item {
    display: flex;
    align-items: center;
    gap: 1rem; }

.about {
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  @media screen and (min-width: 30em) {
    .about {
      flex-direction: row;
      gap: 15rem; } }
  .about__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .about__list--media {
      flex-direction: row;
      align-self: center; }
      @media screen and (min-width: 30em) {
        .about__list--media {
          align-self: flex-start; } }
  .about__link:link, .about__link:visited {
    text-decoration: none;
    color: white;
    transition: color 0.1s; }
  .about__link:focus, .about__link:hover {
    color: #585989; }
  .about__icon {
    fill: white;
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 100%;
    padding: 0.3rem;
    box-sizing: content-box;
    transition: color 0.1s;
    cursor: pointer; }
    .about__icon:focus, .about__icon:hover {
      fill: #585989;
      border-color: #585989; }

.media {
  list-style: none; }

.media__icon {
  fill: white; }

.header {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.fylo {
  width: 100%; }

.description {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%; }

.early-access {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-color: #585989;
  color: #f6f6fe;
  padding: 3rem 1.5rem; }
  .early-access p {
    color: #f6f6fe;
    font-weight: lighter; }

.footer {
  background-color: #070439;
  color: #f6f6fe;
  padding: 5rem 2.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media screen and (min-width: 30em) {
    .footer {
      flex-direction: row;
      gap: 15rem; } }
